<div class="faq">
  <div class="row">
    <div class="col-md-5 mx-auto">
      <h2 class="my-3 text-center white-text">Gameplay</h2>
      <div class="faq-group">
        <div class="faq-box">
          <p class="question">Q: If I forget to make my pick can I continue my streak the next day?</p>
          <p class="answer">A: No. Forgetting to make your pick before the game starts ends your streak. But, you can start a new streak the following day!</p>
        </div>
        <div class="faq-box">
          <p class="question">Q: When does each pick become available?</p>
          <p class="answer">A: 9:00 PST, unless the previous bet goes to overtime or extra innings and runs past 9. In this case the pick becomes available shortly after the previous game ends.</p>
        </div>
        <div class="faq-box">
          <p class="question">Q: Can my streak last longer than 7?</p>
          <p class="answer">A: No. Once you get to 7 (and win), your streak is reset to zero.</p>
        </div>
        <div class="faq-box">
          <p class="question">Q: Why don’t I stay in the same pool when I use a life power-up?</p>
          <p class="answer">A: Using a life moves you to the pool one day behind yours. This means you still have to make seven correct picks in a row.</p>
        </div>
      </div>
    </div>
    <div class="col-md-5 mx-auto">
      <h2 class="my-3 text-center white-text">Logistics</h2>
      <div class="faq-group">
        <div class="faq-box">
          <p class="question">Q: When will OverUnder be available on Android?</p>
          <p class="answer">A: We don’t have a projected date yet but it is certainly in our plans</p>
        </div>
        <div class="faq-box">
          <p class="question">Q: Can I make my pick on this website?</p>
          <p class="answer">A: No. You must make your picks on our mobile application. But, this also is a feature that may be coming soon.</p>
        </div>
        <div class="faq-box">
          <p class="question">Q: How do you set prize amounts?</p>
          <p class="answer">A: Prize amounts are static but may grow as more users join the app or in the event of limited sweepstakes</p>
        </div>
        <div class="faq-box">
          <p class="question">Q: How much does it cost to play OverUnder?</p>
          <p class="answer">A: OverUnder is free to play, though you can buy different powerups within the app to help you keep your streak alive!</p>
        </div>
        <div class="faq-box">
          <p class="question">Q: How do I cash out my winnings?</p>
          <p class="answer">A: Tap the “Cashout” button at the bottom of your profile and transfer your winnings to your PayPal account. If you don’t have an account, you need to create one.</p>
        </div>
      </div>
    </div>
    <div class="row faq-group my-5 mx-auto">
      <h2 class="col-10 faq-box text-center white-text mx-auto">Send additional questions to our twitter account @over_under_app</h2>
    </div>
  </div>
</div>
