<div class="container-fluid">
  <div class="row">
    <div class="phone-box col-lg-4 col-md-5 col-sm-6">
      <img class="phone-image" src="assets/mockPhone.png" />
    </div>
    <div class="home-text-box col-lg-8 col-md-7 col-sm-6">
      <div class="text-center container">
        <h2>Make the correct pick 7 days in a row and win money!</h2>
        <h5 class="grey-text">If you make an incorrect pick, you can start a new streak the next day!</h5>
        <div class="mt-4 text-center">
          <h2>Daily Prize Amount - At least 100 USD</h2>
        </div>
      </div>
      <div class="explainer">
        <div class="row text-center">
          <div class="explainer-box col-lg-3 col-md-10 col-sm-10">
            <div class="explainer-icon blue"><span style="font-size: 29px; color:white;"><i class="fas fa-bolt"></i></span></div>
            <h3>Start your streak!</h3>
            <p>
              Each pick is available when the previous game ends. We’ll even send you a push notification!
            </p>
          </div>
          <div class="explainer-box col-lg-3 col-md-10 col-sm-10 col-xs-10">
            <div class="explainer-icon red"><span style="font-size: 27px; color:white;"><i class="fas fa-exclamation-triangle"></i></span></div>
            <h3>Picks close</h3>
            <p>
              Make your pick before the game starts! If you don’t submit your pick your streak ends :(
            </p>
          </div>
          <div class="explainer-box col-lg-3 col-md-10 col-sm-10">
            <div class="explainer-icon green"><span style="font-size: 29px; color:white;"><i class="fas fa-dollar-sign"></i></span></div>
            <h3>Get to 7!</h3>
            <p>
              If you make 7 correct picks in a row you’ll split the money with the others in your prize pool
            </p>
          </div>
        </div>
      </div>
      <div class="row mx-auto">
        <h1 class="col-xs-8 white-text d-block">Download now on your iPhone!</h1>
        <div class="col-xs-2 mx-auto app-store-link d-block"><a href="https://itunes.apple.com/us/app/id1209886095"><img src="assets/ios.png" /></a></div>
      </div>
    </div>
  </div>
</div>
