<div class="power-ups">
  <h1 class="text-center container-fluid">Earn power ups by inviting friends or through in-app purchases</h1>
  <div class="power-ups-section">
    <div class="row">
      <div class="power-up-box col-lg-3 col-md-4 col-xs-10">
          <div class="power-up-icon pink"><span class="ml-2" style="font-size: 41px; color:white;"><i class="fas fa-heart"></i></span></div>
          <h3 class="text-center">Life</h3>
        <p class="text-center">
          Allows you to stay alive even if you make an incorrect pick
        </p>
        <p class="streak-text text-center">maximum 1 use per streak</p>
      </div>
      <div class="power-up-box col-lg-3 col-md-4 col-xs-10">
          <div class="power-up-icon orange"><span class="ml-2" style="font-size: 38px; color:white;"><i class="fas fa-glasses"></i></span></div>
          <h3 class="text-center">Peak</h3>
        <p class="text-center">
          Allows you to see advanced pick data before making your pick
        </p>
        <p class="streak-text text-center">unlimited use per streak</p>
      </div>
    </div>
    <div class="mx-auto row mb-2">
      <div class="power-up-box col-lg-3 col-md-4 col-xs-10">
          <div class="power-up-icon blue"><span class="ml-2" style="font-size: 40px; color:white;"><i class="fas fa-exchange-alt"></i></span></div>
          <h3 class="text-center">Switch</h3>
        <p class="text-center">
          Allows you to switch your pick before the game starts
        </p>
        <p class="streak-text text-center">unlimted use per streak</p>
      </div>
    </div>
  </div>
</div>
