// Place all the styles related to the marketing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// universal styles

.white-text {
  color: white;
}

.grey-text {
  color: #707070;
}

// Section styles

.navbar-nav a {
  display: inline-block;
  float: left;
  color: #C9C9C9;
  font-size: 28px;
  margin-left: 8px;
  &:hover {
    text-decoration: none;
    color: white;
  }
}

.brand {
  color: #C9C9C9;
  display: inline;
  position: relative;
}

.background-image {
  background-image: url("baseball-background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  height: 100vh;
  width: 100%;
}

.phone-box {
  padding: 1rem 0 !important;
  margin: auto;
  .phone-image {
    display: block;
    width: 70%;
    margin: auto;
  }
  @media (min-width: 576px) and (max-width: 776px) {
    .phone-image {
      position: fixed;
      top: 120px;
      height: 300px;
      width: auto;
      margin-left: 6rem ;
    }
  }
}

.home-text-box {
  padding: 0 !important;
  h2 {
    color: white;
    margin-top: 2rem;
  }

  h4 {
    color: #C9C9C9;
    margin-top: 1rem;
  }
}

@media (max-width: 776px) {
  .home-text-box {
    text-align: center;
  }
}

.explainer {
  display: table;
  margin: 3rem auto;
}

.explainer-box {
  padding: 2rem 3rem;
  margin: 2rem auto 0;
  border: 3px solid lightgrey;
  border-radius: 12px;
  background-color: #363636;
  float: none;
  display: block;
  vertical-align: top;
  .explainer-icon {
    width: 50px;
    height: 50px;
    border: 3px solid lightgrey;
    border-radius: 50px;
    position: absolute;
    top: -28px;
    left: 41%;
  }
  .red {
    background-color: tomato;
  }
  .blue {
    background-color: blue;
  }
  .green {
    background-color: green;
  }

  h3, p {
    color: #F9F9F9;
  }
}
@media (max-width: 576px) {
  .explainer-box {
    width: 85% !important;
  }
}


.app-store-link {
  cursor: pointer;
}

.power-ups {
  position: relative;
  h1 {
    margin: 2rem auto;
    color: white;
  }
  h3 {
    color: white;
  }
  p {
    color: #C9C9C9;
  }
  .power-up-box {
    padding: 2rem 3rem 0;
    height: 240px;
    margin: 2rem auto 0;
    border: 3px solid lightgrey;
    border-radius: 12px;
    background-color: #1d1d1d;
  }
  @media (max-width: 767px) {
    .power-up-box {
      max-width: 80%;
    }
  }
  .power-up-icon {
    width: 65px;
    height: 65px;
    border: 3px solid lightgrey;
    border-radius: 50px;
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .pink {
    background-color: lightpink;
  }
  .orange {
    background-color: orange;
  }
  .blue {
    background-color: blue;
  }
  .streak-text {
    margin: 3rem auto 0 ;
  }
}

.faq {
  .faq-group {
    .faq-box {
      border: 1px solid #707070;
      border-radius: 8px;
      background-color: #363636;
      margin-bottom: 4px;
      padding: 1rem;
      @media (max-width: 767px) {
        margin: 4px 1rem;
      }
      .question {
        color: white;
      }
      .answer {
        color: #C9C9C9;
      }
    }
  }
}

.contact_section {
  .contact_input_box {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #666;
    border-radius: 30px;
    color: #fff;
    height: auto;
    margin-bottom: 30px;
    padding: 15px;
    resize: none;
  }
  .contact_button {
    border-radius: 30px;
    font-size: 18px;
    height: auto;
    padding: 10px 25px;
  }
  .address, .phone, .email {
    color: #707070;
    margin-bottom: 1rem;
  }
  .contact_form {
    margin-bottom: 4rem;
  }
  .email {
    color: #707070;
    a {
      color: #707070;
      &:hover {
        text-decoration: none;
      }
    }
  }

  ul, ol {
    list-style-type: none;
    padding-left: 0;
    padding-bottom: 2rem;
    li {
      display: inline-block;
      i {
        color: white;
        font-size: 40px;
        margin: 5px 0 5px 5px;
        &:hover {
          color: white
        }
      }
    }
  }
}
